{{<base}}
{{$body}}
<h1>Hey, I'm Ryan!</h1>
<ul>
  <li>Chicagoan,</li>
  <li>bird lover, and</li>
  <li>computer nerd.</li>
</ul>
<p>I'm currently a software engineer at Ocient.</p>
<p>Welcome to my fledgling website! There isn't much at the moment, but I hope to fill it with writing, software projects, and artsy things in due time, like moving into a new home.</p>
<p>In the meantime, please enjoy my first <a href="/post/hello-world.html">blog post</a> about the making of this website.</p>
<img src="/toto.jpg" alt="Toto">
{{/body}}
{{/base}}
