.header {
  padding: 0;
}

.home {
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 24px;
  border: none !important;
}

.nav {
  line-height: 64px;
  box-shadow: 0 0 8px #bfbfbf;
}

.content {
  padding: 0 48px;
}

.breadcrumb {
  margin: 16px 0;
}

.main {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.footer {
  text-align: center;
}

